<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
		<listener class-name="com.evevoni.qa.ExtentReportListener.ExtentReporterNG" />
		<listener class-name="com.evevoni.qa.analyzer.MyTransformer" />
  </listeners>
  <test thread-count="2" name="Test">
  	
    <classes>
      <class name="com.gcrShopAdmin.qa.testcases.AdminHomeTest"/>
      <class name="com.gcrShopAdmin.qa.testcases.Admin2"/>
      <class name="com.gcrShopAdmin.qa.testcases.Admin"/>
      <class name="com.gcrShop.qa.testcases.User"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
